@media only screen and (max-width: 767px) {
  .main-grid {
    display: block;
  }
  .main {
    width: 0;
  }
  .flex-top-content {
    display: flex;
    justify-content: center;
    width: 0;
    margin: 0;
    flex-direction: column;
  }
  .n-1 {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .n-2 {
    margin: 0;
    flex-direction: column;
  }
  .floating-num-2 {
    width: 0;
    margin: 0 0 -30px 0;
  }
  .flex-top-content-2 {
    display: flex;
    justify-content: center;
    width: initial;
    margin: 0;
    top: 270px;
    flex-direction: column;
  }
  .name-1 {
    margin: 10px 5px;
    width: 276px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    color: #ffffff;
  }
  .name-2 {
    margin: 0;
    width: initial;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    color: #ffffff;
  }
  .hello-2 {
    margin: 0 5px;
  }
  .hello-1 {
    margin: -15px 10px;
  }
  .floating-num {
    margin-bottom: -15px;
  }

  .flex-med-content {
    width: 320px;
    display: flex;
    justify-content: center;
    margin: 0 8px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 27px;
    color: #ffffff;
  }
  .ellipse-1 {
    width: 75px;
    height: 75px;
    left: 243px;
    top: 65px;
    background: #f2502c;
    mix-blend-mode: lighten;
    border-radius: 50%;
    position: absolute;
  }
  .ellipse-2 {
    display: none;
  }
  .flex-work-1 {
    width: 145px;
    margin: 0 -15px;
    display: flex;
    justify-content: space-around;
    top: 750px;
    align-items: center;
    flex-direction: column;
  }
  .flex-line {
    left: 0;
    top: 76%;
    height: 125px;
    margin-left: 65px;
  }
  .flex-left {
    margin-bottom: 35px;
  }
  .first-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 558px 300px;
  }
  .second-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 300px;
  }
  .grid-a {
    background: url("../mock4.png") no-repeat;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
