@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200&family=Roboto:wght@500&display=swap");
html {
  scroll-behavior: smooth;
}
html,
body {
  background: #1b1b1e;
  max-width: 1440px;
  height: 4303px;
  margin: 0 auto;
  position: relative;
}
.header {
  display: flex;
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
#Home,
#Portfolio,
#Services {
  margin: 0 auto;
}

.floating-num {
  width: 82px;
  height: 150px;
  left: 447px;
  top: 210px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 200;
  font-size: 100px;
  line-height: 150px;
  /* identical to box height */
  text-align: right;
  color: #ffffff;
  opacity: 0.2;
}
.nav-list {
  display: flex;
  flex-direction: column;
  position: relative;
}
.nav-list-1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  text-align: right;
  color: #ffffff;
  transform: rotate(90deg);
  transform-origin: top right;
  margin-bottom: 5px;
}
.nav-list-2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  text-align: right;
  color: #ffffff;
  transform: rotate(90deg);
  transform-origin: top right;
  margin-bottom: 5px;
}
.nav-list-3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  text-align: right;
  color: #ffffff;
  transform: rotate(90deg);
  transform-origin: top right;
}
.nav-list-4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  text-align: right;
  color: #ffffff;
  transform: rotate(90deg);
  transform-origin: top right;
}
.hello-1 {
  width: 504px;
  height: 24px;
  left: 547px;
  top: 302px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #ffffff;
}
.name-1 {
  width: 484px;
  height: 220px;
  left: 547px;
  top: 280px;

  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 110px;
  line-height: 100%;
  /* or 110px */

  color: #ffffff;
}
.name-1 > span {
  color: #db4747;
  letter-spacing: 5px;
}
.flex-med-content {
  width: 564px;
  height: 108px;
  left: 547px;
  top: 586px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;

  color: #ffffff;
}
.ellipse-1 {
  width: 94px;
  height: 94px;
  left: 200px;
  top: 500px;
  background: #f2502c;
  mix-blend-mode: lighten;
  border-radius: 50%;
  position: absolute;
}
.ellipse-2 {
  width: 94px;
  height: 94px;
  left: 1017px;
  top: 302px;
  background: #db4747;
  mix-blend-mode: lighten;
  position: absolute;
}
.flex-left span {
  width: 113px;
  height: 21px;
  left: 547px;
  top: 737px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #db4747;
}
.flex-line {
  width: 70px;
  height: 0px;
  left: 680px;
  top: 747px;

  border: 1px solid #ffffff;
}
.main-grid {
  display: grid;
  grid-template-columns: 7fr 1fr;
}
